.hero-container {
    width: 100%;
    /* position: relative; */
}

.banner {
    width: 100%;
    height: 100vh;
    background: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
   
    /* position: relative; */
}


.banner-container {
   
    display: flex;
  
}
.banner-content{
   
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-top: 320px;
         margin-left: 300px;
         z-index: 100;
    
}
.banner-content-header{
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    font-weight: 900;
    margin-bottom: 2rem;
 }


.banner-content-title{
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 2rem;
     
}

 .btn-primary {
    width: 200px;
    height: 50px;
    font-size: 15px;
    border-radius: 30px;
    padding: 15px 35px;
    background: #46ddb0;
    border-color: #46ddb0;
    color: #fff;
    
}

.btn-primary:hover {
    background-color: #fff;
    color:#46ddb0 ;

}
.input-subscriber {
    border-color: #fff;
    background-color: #333333;
    color: #fff;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0;
    height: 2rem;
    padding: 4px;
    border-radius: 30px;
    margin-right: -1rem;
}
.footer-border {
    margin: 3rem 0;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #edf0f5 ; /* old IE */
    background-color:   #edf0f5 ;; /* Modern Browsers */

}
.all-right {
    text-align: center;
    color: #737373;
}
.all-right a {
    color: #edf0f5;
}












